.box-cookies.hide {
	display: none !important;
}

.box-cookies {
	display: flex;
	z-index: 999;
    min-height: 20px;
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;   
    overflow: hidden;
    position: fixed;
    bottom: 0px !important;
	left: 0px !important;
	width: 100%  !important;
	background: rgb(255,255,255);
}

.box-cookies .titulo-cookies {
	font-family: Verdana, sans-serif;
    color:#222;
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

a {
	color: #404E82;
}

.box-cookies .msg-cookies {
	line-height: 1.3;
	font-size: 13px;
	text-align: justify;
	margin: 0;
	padding: 0;
    font-family:Verdana, sans-serif;
    color:#222;
    display: block;
    margin-top: 10px;	
}

.box-cookies .btn-cookies {
	border-bottom: 2px solid #404E82;
	border-left: 2px solid #404E82;
	border-right: 2px solid #404E82;
	border-top: 2px solid #404E82;
	background: #EFF3FA;
	width: 20%;
	height: 20%;
	display: inline-block;
	font-family: Verdana, sans-serif;
	color: #222;
	font-size: 12px;
	font-weight: bold;
	margin-top: 24px;
	box-sizing: border-box; 
	padding: 15px 10px;
	text-align: center;
	transition: background 0.3s;
	padding-left: 5px;
	padding-right: 5px;
	margin: 20px;
	margin-left:30px;
}
.box-cookies .btn-cookies:hover {
    background-color: #003395;
    color:#ffffff;
}

@media (min-width: 900px){
	.box-cookies {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
		border: 1px solid #d2d2dc;
	    border-radius: 6px;
	    flex-direction: row;  	    
	}
	.box-cookies .texto-cookies {
	    flex-direction: column;	
	    float: left;
	    margin-left: 10px;	
	}
}

@media (max-width: 899px) { 
	.box-cookies {	
	    flex-direction: column;	
		align-items: center;
		font-size: 0.9em;
	}	
	.box-cookies .btn-cookies {
	    width: 30%;
	    height: 30%;
    }
}

.fundo-aviso-cookies {
	display: none;
	background: rgba(0, 0, 0, .20);
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fundo-aviso-cookies.ativo {
	display: block;
}

